html[lang="la"] {
  font-family: "Saysettha OT", sans-serif;
  font-size: 20px;
}

html[lang="zh"] {
  font-family: "Noto Sans SC", sans-serif;
  font-size: 20px;
}

html[lang="en"] {
  font-family: "Saysettha OT", sans-serif;
  font-size: 20px;
}

html[lang="vi"] {
  font-family: "Noto Serif", serif;
  font-size: 20px;
}
